body {
  /* overflow: hidden; */
}
.booking-aside {
  width: 29%;
  height: 80vh;
}
.vehicle-detail {
  margin-inline: 4rem;
  overflow: auto;
  height: 90vh;
  margin-bottom: 200px;
}

.single-vehicle-details {
  max-width: 73%;
}

.reivews-section {
  height: 100vh;
  overflow-y: scroll;
  width: 73%;
}

.image-gallery {
  max-width: 100%;
}

@media (max-width: 639px) {
  .single-vehicle-details {
    max-width: 100%;
  }
  .vehicle-detail{
    margin-inline: 2rem;
  }
  .reivews-section {

  width: 100%;
}
}
